:root {
    --body-color: #F2F2F2;
    --primary-color: #6155E1;
    --btn-color: #FFFFFF26;
    --btn-hover-color: #FFFFFF40;
    --btn-active-color: #FFFFFF73;
    --secondary-color: #E93460;
    --strawberry-hover: #e93461db;
    --strawberry-active: #e93461b3;
    --primary-text: #FFFFFF;
    --secondary-text: #000000;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

